---
name: 'module6_task2'
on:
  # On each code push
  push:
    paths:
      - 'module6_task2/**'
      - '.github/workflows/module6_task2.yml'
jobs:
  build:
    name: Default
    runs-on: ubuntu-18.04
    defaults:
      run:
        working-directory: module6_task2/
    timeout-minutes: 20
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - uses: webfactory/ssh-agent@v0.5.2
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Deploy Production Infrastructure
        if: github.ref == 'refs/heads/main'
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: eu-west-2
          INSTANCE_SUFFIX: module6_task2
        run: |
          set -eux
          bash -x ./ensure-server-created.sh jenkins > jenkins-hostname.txt
          ssh-keyscan -H "$(cat jenkins-hostname.txt)" >> ~/.ssh/known_hosts
          bash -x ./ensure-server-setup.sh "$(cat jenkins-hostname.txt)"
          export DOCKER_HOST=ssh://ubuntu@"$(cat jenkins-hostname.txt)"
          bash -x ./deploy.sh ./jenkins/docker-compose.yml
